<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lantrack.framework.sysbase.dao.DutyMenuDao">
	<resultMap id="BaseResultMap"
		type="net.lantrack.framework.sysbase.entity.DutyMenu">
		<result column="duty_id" property="dutyId" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
		<result column="menu_id" property="menuId" javaType="java.lang.Integer"
			jdbcType="INTEGER" />
	</resultMap>
	<!-- 单个插入 -->
	<insert id="insert"  parameterType="net.lantrack.framework.sysbase.entity.DutyMenu">
        insert into duty_menu (duty_id, menu_id)
        values (#{dutyId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER})
    </insert>
	<!-- 批量插入 -->
	<insert id="insertList" parameterType="java.util.List">
		insert into duty_menu (duty_id, menu_id) values
		<foreach collection="list" item="temp" separator=",">
			(#{temp.dutyId,jdbcType=INTEGER}, #{temp.menuId,jdbcType=INTEGER})
		</foreach>
	</insert>
	<!-- 根据职务查询对应权限 -->
	<select id="queryMenuListByDuty" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	       select menu_id from duty_menu where duty_id = #{id}
	</select>
	<!-- 删除职务下的权限 -->
	<delete id="deleteByDutyId" parameterType="java.util.List" >
	   delete from duty_menu where duty_id in
	   <foreach collection="list" open="(" close=")" item="temp" separator=",">
            #{temp}
        </foreach>
	</delete>
	<resultMap  id="dutyMenuTree" type="net.lantrack.framework.sysbase.model.menu.MenuTreeModel">
	   <result column="id" property="id" javaType="java.lang.Integer"/>
	   <result column="pid" property="pid" javaType="java.lang.Integer"/>
	   <result column="name" property="name" javaType="java.lang.String"/>
	</resultMap>
	<!-- 查看当前职务下的权限 -->
	<select id="getMenuByDutyId" parameterType="java.lang.Integer" 
	       resultMap="dutyMenuTree">
	   SELECT  menu.id as id,menu.parent_id as pid,menu.menu_name as name
       FROM  duty_menu dm LEFT JOIN sys_menu menu
       ON dm.menu_id = menu.id  WHERE  
       menu.del_flag = 0
       AND dm.duty_id=#{id}
	</select>
	
	

</mapper>